@import "../mixins";

.background {
    background-color: $black;
    position: fixed;
    z-index: -1;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow: auto;
    top: calc(0px + 80px);
    bottom: 0;
}

.products {
    z-index: 2;
    display: flex;
    margin: 50px auto 0px auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;

    .product {
        border-left: 6px solid $red;
        background-color: transparent;
        margin: 20px 5px;
        flex: 1 1 350px;

        display: flex;
        flex-direction: column;

        .name {
            background: $red;
            margin: 0 20px;
            font-size: 25px;
            padding: 3px 10px;
            border-radius: 3px;

            p {
                margin: 0;
                margin-top: 2px;
                text-transform: uppercase;
                text-align: middle;
            }
        }

        .data {
            background: rgba(197, 37, 37, 0.65);
            border: 2px solid $red;
            margin: 10px 20px 0 20px;
            padding: 3px 10px;
            flex-grow: 1;

            p {
                margin: 5px 0;
            }
        }
    }
}
