@import "../mixins";

.background {
    background-color: $black;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow: auto;
    top: calc(0px + 80px);
    bottom: 0;
}
