@import "../mixins";

.row {
    widows: 100%;
    display: flex;
    justify-content: center;

    .button {
        background: linear-gradient(90deg, $black, $red, $black);
        line-height: 80px;
        width: 100%;
        text-align: center;
        font-size: 42px;

        &:hover {
            background: linear-gradient(90deg, $black, $lemon, $black);
        }
    }
}
