@import "../mixins";

.button {
    width: 100%;
    text-align: center;
    background-color: $red;
    border: solid 2px $red;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $black;
        border-color: $neon-green;
        color: $neon-green;
    }
}

.modal {
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 900px;
    min-height: 200px;
    background: $white;
    left: 50%;
    transform: translate(-50%, -4%);
    border-radius: 5px;
    background-color: $modal-red;
    border: solid 3px red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .close {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 30px;
        cursor: pointer;
        background-color: $black;
        border-radius: 15px;
        color: $red;
        border-style: solid;
        border-color: $red;
        border-width: 3px;

        &:hover {
            color: $lemon;
            border-color: $lemon;
        }

        @include breakpoint(tablet) {
            font-size: 17px;
            font-weight: bold;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 15px;

        @include breakpoint(tablet) {
            font-size: 13px;
        }

        input,
        textarea,
        select {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            margin-top: 5px;
            background-color: $black;
            color: $lemon;
            font-family: 'Share Tech';
            border-radius: 10px;
            padding: 5px;
            border-style: solid;
            border-color: $red;
            border-width: 3px;

            &:focus {
                border-style: solid;
                border-color: $neon-green;
                color: $neon-green;
                outline: none;
            }
        }

        .submit {
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            background-color: $black;
            border-radius: 15px;
            color: $red;
            font-family: 'Share Tech';
            font-size: 30px;
            cursor: pointer;
            border-style: solid;
            border-color: $red;
            border-width: 3px;

            &:hover {
                color: $lemon;
                border-color: $lemon;
            }

            @include breakpoint(tablet) {
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
}
