@import "../../mixins";

.account {
    background-color: $black;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: calc(0px + 80px);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .title {
        display: flex;
        flex-direction: column;

        p {
            color: $red;
            font-size: 40px;
            margin: 0;
        }
    }

    .logout {
        color: $red;
        font-size: 40px;
        display: flex;

        &:hover {
            color: $lemon;
        }
    }
}
